<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}">
	<meta charset="utf-8">

</head>

<body>
	<header th:replace="~{layout/layout :: header}">
	</header>
    <div class=" container py-4">
        <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group item" th:text="'Nombre: ' + ${empleado.nombre}"> </li>
                <li class="list-group item" th:text="'Apellido: ' + ${empleado.apellido}"> </li>
                <li class="list-group item" th:text="'Fecha Ingreso: ' + ${empleado.fecha}"> </li>
                <li class="list-group item" th:text="'Email: ' + ${empleado.email}"> </li>
                <li class="list-group item" th:text="'Telefono: ' + ${empleado.telefono}"> </li>
                <li class="list-group item" th:text="'Genero: ' + ${empleado.sexo}"> </li>
                <li class="list-group item" th:text="'Salaro: ' + ${empleado.salario}"> </li>
            </ul>
        </div>
        </div>
    </div>
	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>

</html>